@import "~@blueprintjs/core/dist/blueprint.css";
@import "~flexboxgrid/dist/flexboxgrid.css";

#root {
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}